.cardView {
  perspective: 1000px;
  box-sizing: border-box;
  margin: 2.5% 15px;
  width: 270px;
}

.cardView .cardView-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.cardView:hover .cardView-inner {
  transform: rotateY(180deg);
}

.cardView-front {
  width: 100%;
  height: 100%;
  display: flex;
  position: inherit;
  flex-direction: column;
  align-items: center;
  border-radius: inherit;
  border: 7px solid black;
  border-radius: 10px;
}

.cardView-back {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 7px solid black;
  transform: rotateY(180deg);
}

.cardView-back,
.cardView-front {
  backface-visibility: hidden;
}

.charactersData {
  display: flex;
  flex-direction: column;
  background-color: beige;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

.charactersData p {
  font-size: 20px;
  margin: 1px;
  line-height: 1.5;
}

.imageCharacters {
  height: 340px;
  width: 100%;
}

.name {
  font-family: "Pirata One", sans-serif;
  font-size: 2rem;
}

.wandDate p {
  margin: 1px;
}

/* house color */
.Gryffindor {
  background-color: #520c2e;
}

.Hufflepuff {
  background-color: #f9f871;
}

.Slytherin {
  background-color: #093309;
}

.Ravenclaw {
  background-color: #005bff;
}

.noHouse {
  background-color: grey;
}
