.flip-card {
  background-color: transparent;
  width: 280px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  border: 1px solid #f1f1f1;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* card front */
.flip-card-front {
  background-color: black;
  color: black;
  background-size: cover;
}

.characterImage {
  height: 100%;
  width: 100%;
}

.characterName {
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  font-family: "Pirata One";
}

.nameContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

/* card back */
.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  background-color: #f3a329;
}

.characterInfos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.characterInfos p {
  margin: 0;
}
.wandCard {
  width: 80%;
  position: absolute;
  top: 60%;
}

.wandCard h2 {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

/* house color */
.Gryffindor {
  background-color: #520c2e;
}

.Hufflepuff {
  background-color: #f9f871;
}

.Slytherin {
  background-color: #093309;
}

.Ravenclaw {
  background-color: #005bff;
}

.noHouse {
  background-color: grey;
}
